body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
img {
    max-width: 100%; 
    height: auto;    
    border: 2px solid #333; 
    border-radius: 8px; 
}
video{
    max-width: 100%;
    height: auto;
    borde: 1px solid  #333;

}