body {
    margin: 0; /* Elimina márgenes por defecto del body */
    height: 100vh; /* Altura completa de la ventana */
    display: flex;
    flex-direction: column; /* Coloca las imágenes en columna */
    justify-content: space-around; /* Espacio uniforme entre imágenes */
    align-items: center; /* Centra horizontalmente */
}

.img-center {  
    display: block;        /* Cambia a block para que funcione el margen */  
    margin-left: auto;    /* Margen automático a la izquierda */  
    margin-right: auto;
        /* Margen automático a la derecha */  
}  

